@import "../../media-mixin";

.about {
  padding: 75px 0;

  @include mq('custom', 'max', 1024) {
    padding: 65px 0;
  }

  @include mq('custom', 'max', 768) {
    padding: 45px 0;
  }

  @include mq('custom', 'max', 640) {
    padding: 24px 0;
  }

  p {
    margin: 45px 0;

    font-weight: 400;
    font-size: 31px;
    line-height: normal;
    color: #000;

    @include mq('custom', 'max', 1024) {
      font-size: 28px;
      margin: 35px 0;
    }

    @include mq('custom', 'max', 768) {
      font-size: 25px;
      margin: 30px 0;
    }

    @include mq('custom', 'max', 640) {
      font-size: 21px;
      margin: 24px 0;
    }
  }
}