@import "../../media-mixin";

.wanted {
  padding: 90px 0;

  @include mq('custom', 'max', 1024) {
    padding: 65px 0;
  }

  @include mq('custom', 'max', 768) {
    padding: 45px 0;
  }

  @include mq('custom', 'max', 640) {
    padding: 24px 0;
  }

  &__title {
    margin-bottom: 60px;

    font-weight: 700;
    font-size: 39px;
    line-height: normal;
    text-align: center;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 50px;
      font-size: 35px;
    }

    @include mq('custom', 'max', 768) {
      font-size: 30px;
      margin-bottom: 40px;
    }

    @include mq('custom', 'max', 640) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
}